<section class="article">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-12 col-md-5 mx-auto text-right">
                
                <div class="article_item">
                    <% articles.forEach(article => { %> 
                    <ul>
                        <li><a href="<%= article.path() %>"><%= article.title %></a></li>
                    </ul>
                    <% }); %>
                </div>
                
            </div>
        </div><!--row-->
    </div>
</section>

<script>

</script>