<section class="article-text mt-3">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-10 col-md-12 col-lg-12 text-right">
                <div class="article-area">
                <h2 class="mb-5"><%= article.title %></h2>
                <p class="mb-5"><%- article.body %></p>
            </div>
            </div>
        </div><!--row-->
    </div>
</section>