<section class="page-404">
    <div class="container">
        <div class="banner-404 mt-3">
            <img src="/img/Akhtartop404.png" class="img-fluid" alt="">
                    <div class="text-404">
                        <h3>صفحه مورد نظر شما یافت نشد !</h3>
                        <span class="sorry">متاسفانه</span>
                        <div class="page-link-404 mt-2 mb-2 text-center">
                            <a href="#">آخرین جستجو </a>
                            <a href="#"> صفحه قبل</a>
                        </div>
                        <div class="page-search">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Search ......" aria-label="Recipient's username">
                                <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-search"></i></span>
                                </div>
                                </div>
                        </div>
                    </div> 
                </div> 
    </div>
</section>