<div class="profile-right">
    <div class="profile-logo">
        <img src="/img/akhtar_top.png" alt="logo">
    </div>
    <div class="profile-title">
        <p>مرکز فروشندگان <span>آختارتاپ</span></p>
        <p class="thabt">ثبت نام در مرکز فروشندگان</p>
    </div>
    <div class="tolbar-text mt-5 text-right">
        <img src="/img/icon-s1.png" class="img-fluid" alt="">
        <h6>1.اطلاعات فروشنده <span>اطلاعات شخصی،اطلاعات فروشنده</span><span>اطلاعات تجاری،اطلاعات تماس</span></h6>
        
        <div class="tolbar-border"></div>
    </div>
    <div class="tolbar-text mt-5 text-right">
        <img src="/img/icon-s2.png" class="img-fluid" alt="">
        <h6>2.بارگذاری مدارک <span>اطلاعات مربوط به مالیات ارزش افزوده</span>
        <span>تصویر مدارک شخصی و تجاری</span>
        </h6>
        
        <div class="tolbar-border"></div>
    </div>
    <div class="tolbar-text mt-5 text-right">
        <img src="/img/icon-s3.png" class="img-fluid" alt="">
        <h6>3.اتمام ثبت نام <span>به جمع فروشندگان تیم آختارتاب خوش آمدید</span> <span class="success">امیدواریم بتوانیم درکنار هم باعث رونق کسب کار شما بشویم</span></h6>
        
        
    </div>
</div>